body {

	margin: 0;
}
* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	display: block;
	color: inherit;
}
/* ............Header nav stars here................ */
header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
header nav ul {
    float: left;
    margin-left: 15px;
	
}

header li, header a {
	display: inline-block;
	color: #bbb;
	line-height: 30px;
}
header nav a {
	padding: 0 5px;
}
header a.first, header a:hover {
	color: #fff;
}
.drop-btn h2:hover {  
    color: black; 
}
  .dropdown, .dropdown2{
	  z-index: 2;
  }

  .dropdown-content, .dropdown-content2{
	padding: .2em .4em;
	z-index: 4;
	font-size: .7em;
  }


  nav hr{
	  border: .6px solid rgba(255, 255, 255, 0.13);
  }
  .dropdown-content  {
    display: none;
    position: absolute;
    top: 26px;
	left: 50px;
    background-color: #000;
    width: 270px;
   }
   .dropdown-content2 {
    display: none;
    position: absolute;
    top: 26px;
	left:130px;
	background-color: #000;
    width: 210px;
   }
    .dropdown-content a {
      display: block;
      color: #999;
      font-family: "Cantarell", sans-serif;
      text-transform: uppercase;
      padding: .2em .5em; 
    }
    .dropdown-content2 a {
        display: block;
		color: #999;
        font-family: "Cantarell", sans-serif;
        text-transform: uppercase;
        padding: .2em .5em;
      }
    .dropdown-content a:hover {
        color: black; 
    }  
    .dropdown-content2 a:hover {
        color: black; 
    }
  
  .dropdown:hover .dropdown-content, .dropdown2:hover .dropdown-content2 {
	display: block; 
	
  }

.header-top {
	height: 80px;
	display: flex;
	background-color: #eee;
}
.menu-one_and_two {
	width: 100%;
}

.first-nav{
	height: 30px; 
	background-color: black;
	width: 100%;
	/* padding-left:  */
}
.nav-second {
	display: flex;
    background-color: #fff;
}
.second-nav-links {
	font-size: 110%;
	color: #999;
	line-height: 50px;
	margin-right: .7em;
   }
a.second-nav-links:xhover {
	color: #000;
}

/*....... Section: lastes Deals .............*/

.dealPrices small {
    text-decoration: line-through; 
}
small a:hover {
    color: white; }
small {
  color: #999;
  font-size: 12px;
  font-weight: bold; 
}
  @media screen and (max-width: 1024px) {
    small {
      letter-spacing: -0.8px; } 
    }
.itemsDeal {
	display: flex;
	flex-wrap: wrap;
}
.itemDeal:nth-child(4n) {
	margin-right: 0;
}

.deals-title:hover {
	color: #000;
}
.itemDeal {
    width: 23.5%;
    margin-bottom: 20px;
	margin-right: 2%;
	
}

.itemDeal img {
	width: 100%;
}
.latest-link {
	font-size: 120%;
	font-weight: bold;
	color: #000;
	margin-top: 5px;
}
.latest-link:hover {
	color: #ff3300;
	text-decoration: underline;
}
.latest-news-author {
	color: #aaa;
	margin-top: 5px;
}
.latest-news-author a {
	display: inline;
}
.latest-news-author a:hover {
	color: #555;
}


/* footer starts here */
.footer-bottom {
	color: #ccc;
	background-color: #000;
	padding: 40px 10px;
	text-align: center;
	line-height: 1.5;
}
.footer-bottom span {
	color: #fff;
	font-weight: bold;
	font-size: 110%;
}
.footer-middle {
	background-color: #111;
	color: #999;
	padding: 1em 0;
	align-items: center;
}

.social-icons i{
	margin-right: 1em;
	background-color: rgb(83, 83, 83);
	color: #ffffff;
	border-radius: 50%;
	padding: 1em 1em;
	font-size: .9em;
}

 .footer-middle ul {
	margin: 0;
	padding: 10px 0;
	text-align: center;
	list-style-type: none;

}
.footer-middle li, .footer-middle li a {
	display: inline-block;
} 
.footer-middle ul:first-child a {
	width: 32px;
	height: 32px;
	margin: 5px 10px;
}
.footer-middle ul:last-child a {
	margin: 5px 10px;
}
.footer-middle ul:last-child a:hover {
	color: #fff;
}
.footer-wrapper {
	background-color: #111;
}

.footer-bottom .heart {
	color: red; 
} 
footer {
	background: #131313;
	color: white; 
}
	 footer a:hover {
	   color: white;
	  }
	 footer h2 {
	   color: #999;
	   font-size: 18px;
	   margin-bottom: 15px;
	  }
	 footer li a {
	   font-size: 14px;
	   margin-top: 10px; 
	 }

	 footer .copy {
	   text-align: center;
	   height: 97px;
	   line-height: 97px;
	   color: #aaa;
	   font-size: 13px;
	   background: black;
	   padding-bottom: 50px; 
	 }
	 .footer-middle li, .footer-middle li a {
		display: inline-block;
	}
	   @media screen and (max-width: 768px) {
	 	footer .copy {
	 	  height: 122px;
	 	  line-height: 16px;
	 	  padding-top: 30px; 
	 	
	 	}
	 	  footer .copy span {
	 		display: block; 
		} 
	}
	 
  

		@media screen and (max-width: 768px) {
		}
	
	  @media screen and (max-width: 768px) {
		  footer  span {
			display: block; } 
		}